body{
  background: #191d28;

}
table{
  background-color:#191d28 !important;
}
.para{
      font-family: Oswald, sans-serif;
    margin-top: -18px;
    opacity: 0.8;
    font-size: 18px;
    color: gray;
        position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-text-link{
  color: rgb(61, 198, 193);
}

.logo{
  padding-top: 15px;
  padding-bottom: 5px;
}